@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  touch-action: none;
  width: 100%;
  height: 100%;
  margin: 1rem auto;
}

.dropzone {
  flex: 1;
  height: 300px;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.dropzone.left {
  margin-right: 10px;
}

.grid-item {
  box-sizing: border-box;
  padding: 0.5em;
}

.grid-item-content {
  box-sizing: border-box;
  background: #08e;
  display: flex;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  border-radius: 0.5em;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  textarea {
    border-style: solid;
    border-width: 1px;
    margin: 0 auto;
    width: 90vw;
    height: 250px;
  }
  .textarea-container {
    margin-top: 100px;
    padding: 2%;
  
  }
  .button-container {
    display: flex
  }
  .action-button{
    width: 70px;
    margin-left: 25px;
  }
  .picto-container{
    display: flex;
    flex-wrap: wrap;
    
  }
  .main-picto-container{
    position: absolute;
    width: 100vw;
    z-index: 1000;
    background-color: lightblue;
    top:0;
    
  }
  .logo-container{    margin: 0 auto;}
  .grid-item {
    flex:50%;
  }
  .popup-toolbar {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 600px) {
  body {
    background-color: green;
  }
}